<div [hidden]="changing" style="padding-left: 30px;  margin-left: 30px;">
  <h2>Список концертов</h2>
  <button type="button" class="btn btn-default" routerLink="/concerts/new" (click)="messageService.clear()">
    Создать
  </button>

  <table class="concerts table table-striped">
    <thead>
      <tr>
        <td>Исполнитель</td>
        <td>Площадка</td>
        <td>Адрес</td>
        <td>Дата</td>
        <td></td>
      </tr>
    </thead>
    <tbody>


      <tr *ngFor="let p of concerts"
          [class.selected]="p === selectedConcert"
          (click)="onSelect(p)">
        <td>{{p.perfomerName}}</td>
        <td>{{p.venueName}}</td>
        <td>{{p.venueAddress}}</td>
        <td>{{p.date | date:'dd.MM.yyyy HH:mm'}}</td>
        <td>
          <button type="button" class="btn btn-default" (click)="selectedConcert=p; changing=true; messageService.clear()">Изменить</button>
        </td>
      </tr>

    </tbody>

  </table>

</div>

<div [hidden]="!changing">


  <app-concert-detail [concertInput]="selectedConcert"></app-concert-detail>
  <button type="button" class="btn btn-default" style="margin-left: 70px;" (click)="changing=false; messageService.clear()">Назад</button>

</div>
